@charset "UTF-8";

/*********************************
preset variables
*********************************/
:root {
    --fontSize: 16px;
    --linkColor: #3562a0;
    --textColor: #333;
    /* color preset */
    --mainColor: #0F547D;
    --mainLightColor: #e4f2fa;
    --subColor: #00a3a3;
    --subLightColor: #19bebe;
    /* width preset */
    --gutter: 1.3rem;
    --gap: 1.5rem;
    --spacing: 1rem;
    --contentWidth: 1200px;
}

/*************************************
* START header
*************************************/
header {
    background: var(--mainColor);
    padding: 3rem 1rem;
    text-align: center;
}

header h1 {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}

header p {
    color: var(--subColor);
    font-size: 1.3rem;
}

/*************************************
* END header START main
*************************************/
main {
    padding: 2rem 0;
}

pre {
    white-space: pre-wrap;
}

main h2 {
    color: var(--mainColor);
    font-size: 1.3rem;
    font-weight: 700;
}

main h3 {
    padding-left: .4rem;
    border-left: .5rem solid var(--mainColor);
    font-size: 1.1rem;
    font-weight: 600;
}

/** 入力画面用 */
.journal-form dl {
    display: grid;
    grid-template-columns: 350px 1fr;
    border: 2px solid #333;
    row-gap: 1px;
}

.journal-form dl dt {
    grid-column: 1;
    padding: .5rem 1rem;
    background: #333;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.journal-form  dl dt:nth-of-type(2n) {
    background: var(--mainColor);
}

.journal-form dl dd {
    grid-column: 2;
    padding: .5rem 1rem;
    background: #eee;
}

.journal-form dl dd:nth-of-type(2n) {
    background: var(--mainLightColor);
}

.journal-form .box {
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    box-shadow: 0 0 2px 1px rgb(0 0 0 / 8%) inset;
    display: inline-block;
    width: 100%;
    max-width: 10rem;
    font-size: .95rem;
    line-height: 1.4;
    padding: 0.3rem 0.5rem;
}
.journal-form .box.wide {
    max-width: none;
}

.journal-form label.check {
    display: inline-block;
    padding-left: 1.4rem;
    position: relative;
    line-height: 1.4;
    cursor: pointer;
    margin-right: .5rem;
}

.journal-form label.check > input {
    display: none;
}

.journal-form label.check::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 2px solid #ccc;
    background: #fff;
    position: absolute;
    top: .25rem;
    left: .3rem;
}

.journal-form label.check::after {
    content: "";
    display: inline-block;
    width: .5rem;
    height: 1rem;
    position: absolute;
    top: .1rem;
    left: .7rem;
    border-bottom: 4px solid #c94d00;
    border-right: 4px solid #c94d00;
    transform: translate(-.2rem, .2rem) rotate(-100deg) scale(.5);
    opacity: 0;
    transition: .1s ease-out;
}
.journal-form label.check:has(input:checked)::after {
    transform: rotate(45deg);
    opacity: 1;
}


.box-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1.3rem;
}

input.button {
    padding: .5rem 1rem;
    background: var(--subColor);
    color: #fff;
}

input.button:hover {
    background: var(--subLightColor);
}

a.button {
    display: inline-block;
    background: var(--linkColor);
    color: #fff;
    padding: .5rem 2rem;
    border-radius: 2rem;
}
/*************************************
* END main START footer
*************************************/
footer {
    padding: 2rem 1rem;
    color: #999;
    text-align: center;
}

/*************************************
* END footer START only for sp
*************************************/
@media only screen and (max-width: 850px) {
    .sp-hide {
        visibility: hidden;
        opacity: 0
    }

    .sp-visible {
        visibility: visible;
        opacity: 1
    }

    .sp-none {
        display: none !important
    }

    .rdx-btn {
        display: block
    }

    .journal-form dl {
        display: block;
        border: none;
    }

    .journal-form dl dd {
        margin-bottom: 1rem;
    }

}

/*************************************
* END only for sp START only for pc
*************************************/
@media print,
screen and (min-width: 850px) {
    .pc-hide {
        visibility: hidden;
        opacity: 0
    }

    .pc-visible {
        visibility: visible;
        opacity: 1
    }

    .pc-none {
        display: none !important
    }

}